<div class="posts-page">
  <h3>{{this.Global.currentHeadline}}</h3>
  <p class="post-text">{{this.Global.currentText}}</p>
  <p class="post-date">{{this.Global.currentDate}}</p>
  <LinkTo @route="posts.show" @model={{this.Global.dynamicID.edit}}>Edit</LinkTo>
</div>

{{outlet}}