<div class="posts-page">
  <h3>{{@post.headline}}</h3>
  <p class="post-text">{{@post.text}}</p>
  <p class="post-date">{{@post.date}}</p>
  <button>
    <LinkTo @route="posts.edit" @model={{@post.id}}>Edit</LinkTo>
  </button>
</div>

{{outlet}}