<div class="posts-page">
  <h3>{{@model.headline}}</h3>
  <p class="post-text">{{@model.text}}</p>
  <p class="post-date">{{@model.date}}</p>
  <button>
    <LinkTo @route="posts.edit" @model={{@model.id}}>Edit</LinkTo>
  </button>
</div>

{{outlet}}